.ngo-create-campaign-child,
.ngo-create-campaign-inner,
.ngo-create-campaign-item {
  position: absolute;
  top: 48.56rem;
  left: 37.94rem;
  border-radius: 12px;
  width: 42.06rem;
  height: 8rem;
}
.ngo-create-campaign-inner,
.ngo-create-campaign-item {
  top: 31.31rem;
}
.ngo-create-campaign-inner {
  top: 42.31rem;
  height: 3.25rem;
}
.group-child,
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 26.5rem;
  height: 69.81rem;
}
.group-child {
  width: 13.56rem;
  height: 7.96rem;
  object-fit: cover;
}
.taawun {
  position: absolute;
  top: 9.16rem;
  left: 2.88rem;
  -webkit-text-stroke: 0.5px #000;
}
.rectangle-parent {
  position: absolute;
  top: 4.06rem;
  left: 6.44rem;
  width: 13.56rem;
  height: 11.54rem;
  font-size: 1.88rem;
  color: #c6c;
  font-family: "Be Vietnam Pro";
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 35px;
  background-color: #fb5050;
  width: 15.25rem;
  height: 4rem;
}
.log-out,
.react-iconsmdmdlogout {
  position: absolute;
  top: 0.41rem;
  left: 1.63rem;
  width: 3.44rem;
  height: 3.1rem;
}
.log-out {
  top: 0.66rem;
  left: 6.25rem;
  font-weight: 500;
  display: inline-block;
  width: 6.25rem;
  height: 2.83rem;
}
.edhi,
.rectangle-group {
  position: absolute;
  top: 61.75rem;
  left: 5.88rem;
  width: 15.25rem;
  height: 4rem;
}
.edhi {
  top: 4.56rem;
  left: 91.06rem;
  font-size: 2.81rem;
  font-weight: 500;
  display: inline-block;
  width: 6.38rem;
  height: 3.63rem;
}
.ezvh2alvgay1osb-removebg-previ-icon {
  position: absolute;
  top: 4.56rem;
  left: 99.63rem;
  width: 5.38rem;
  height: 4.19rem;
  object-fit: cover;
}
.campaigns {
  position: absolute;
  top: 3.56rem;
  left: 31.13rem;
  font-size: 3.75rem;
  font-family: "Abril Fatface";
  display: inline-block;
  width: 41rem;
  height: 6.38rem;
}
.ngo-create-campaign-child1 {
  position: absolute;
  top: 25rem;
  left: 37.94rem;
  border-radius: 12px;
  width: 42.13rem;
  height: 3.25rem;
}
.info,
.input-child {
  position: absolute;
  left: 0;
}
.info {
  top: 0;
  font-weight: 600;
}
.input-child {
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  border: 2px solid #49b3a8;
  box-sizing: border-box;
  height: 3.25rem;
}
.label,
.text {
  position: absolute;
  display: flex;
  align-items: center;
}
.label {
  top: 0.63rem;
  left: 0.44rem;
  font-weight: 600;
  width: 33.75rem;
  height: 0.5rem;
}
.text {
  width: calc(100% - 31px);
  top: 2.81rem;
  left: 1rem;
  font-size: 1.13rem;
}
.input {
  position: relative;
  width: 42.13rem;
  height: 5.25rem;
  flex-shrink: 0;
}
.input-item {
  position: absolute;
  width: 100%;
  top: 2rem;
  right: 0;
  left: 0;
  border-radius: 12px;
  border: 2px solid #49b3a8;
  box-sizing: border-box;
  height: 8rem;
}
.description {
  position: absolute;
  top: 0.63rem;
  left: 0.44rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 17.88rem;
  height: 0.5rem;
}
.textffffffffffffffffffffffffff {
  position: absolute;
  width: calc(100% - 31px);
  top: 2.75rem;
  left: 1rem;
  font-size: 1.13rem;
  display: inline-block;
  height: 6.63rem;
}
.input1 {
  position: relative;
  width: 42.13rem;
  height: 10rem;
  flex-shrink: 0;
}
.react-iconshihichevrondown {
  position: absolute;
  top: 2.88rem;
  right: 0.94rem;
  width: 1.5rem;
  height: 1.5rem;
}
.input-parent {
  position: absolute;
  top: 5.56rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.5rem;
}
.info-parent {
  position: absolute;
  top: 17.5rem;
  left: 37.94rem;
  width: 42.13rem;
  height: 39.06rem;
  font-size: 2.5rem;
}
.label2 {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 71px);
  font-weight: 600;
  display: inline-block;
  width: 8.81rem;
}
.button,
.button1 {
  position: absolute;
  top: 61.25rem;
  left: calc(50% + 566px);
  border-radius: 8px;
  background-color: #49b3a8;
  width: 8rem;
  height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}
.button1 {
  left: calc(50% - 257px);
  background-color: #ccc;
  color: #1b0404;
}
.step-1-of {
  position: absolute;
  top: 21rem;
  left: 88.31rem;
  font-size: 1.88rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.25);
  text-align: right;
  display: inline-block;
  width: 10.13rem;
  height: 1.88rem;
}
.ellipse-icon,
.ngo-create-campaign-child2,
.ngo-create-campaign-child3 {
  position: absolute;
  top: 28.75rem;
  left: 84.56rem;
  width: 3.75rem;
  height: 3.75rem;
}
.ngo-create-campaign-child2,
.ngo-create-campaign-child3 {
  top: 39.63rem;
}
.ngo-create-campaign-child3 {
  top: 50.5rem;
}
.line-div,
.ngo-create-campaign-child4 {
  position: absolute;
  top: 43.34rem;
  left: 86.41rem;
  border-right: 1px solid #000;
  box-sizing: border-box;
  width: 0.06rem;
  height: 7.19rem;
}
.ngo-create-campaign-child4 {
  top: 32.47rem;
}
.information {
  position: absolute;
  top: 29.06rem;
  display: inline-block;
  width: 11.31rem;
}
.add-details,
.information,
.upload-media {
  left: 90.44rem;
  font-size: 1.88rem;
  font-weight: 600;
  text-align: right;
  height: 2.94rem;
}
.add-details {
  position: absolute;
  top: 40.5rem;
  display: inline-block;
  width: 11.31rem;
}
.upload-media {
  top: 50.88rem;
  width: 13.75rem;
}
.collaborations,
.create-a-campaign,
.upload-media {
  position: absolute;
  display: inline-block;
}
.create-a-campaign {
  top: 12.5rem;
  left: 31.13rem;
  font-size: 1.88rem;
  font-family: Inter;
  width: 29.25rem;
  height: 3.75rem;
}
.collaborations {
  top: 0;
  left: 3.38rem;
  width: 21rem;
  height: 3.25rem;
}
.group-inner {
  position: absolute;
  top: 0.38rem;
  left: 0;
  width: 2.31rem;
  height: 2.13rem;
  object-fit: cover;
}
.collaborations-parent,
.group-div {
  position: absolute;
  width: 24.38rem;
  height: 3.25rem;
}
.collaborations-parent {
  top: 0;
  left: 0;
}
.group-div {
  top: 31.56rem;
  left: 2.13rem;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.69rem;
  height: 2.63rem;
  object-fit: cover;
}
.ngo-create-campaign-inner1 {
  position: absolute;
  top: 26.63rem;
  left: 2.13rem;
  width: 24.38rem;
  height: 3.25rem;
}
.react-iconsbsbsfiletextfill {
  position: absolute;
  height: 63.46%;
  width: 8.46%;
  top: 11.54%;
  right: 91.54%;
  bottom: 25%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ngo-create-campaign-inner2 {
  position: absolute;
  top: 36.5rem;
  left: 2.13rem;
  width: 24.38rem;
  height: 3.25rem;
}
.vector-icon {
  position: absolute;
  height: 63.46%;
  width: 8.46%;
  top: 5.77%;
  right: 91.54%;
  bottom: 30.77%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.settings-parent {
  position: absolute;
  top: 56.25rem;
  left: 2.13rem;
  width: 24.38rem;
  height: 3.25rem;
}
.icon-time-history {
  position: absolute;
  height: 63.62%;
  width: 7.71%;
  top: 7.69%;
  right: 92.29%;
  bottom: 28.69%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.donation-history-parent {
  position: absolute;
  top: 41.44rem;
  left: 2.13rem;
  width: 24.38rem;
  height: 3.25rem;
}
.icon-home {
  position: absolute;
  height: 50.13%;
  width: 8.46%;
  top: 15.38%;
  right: 91.54%;
  bottom: 34.48%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-home-parent {
  position: absolute;
  height: 4.66%;
  width: 22.57%;
  top: 31.07%;
  right: 75.46%;
  bottom: 64.28%;
  left: 1.97%;
}
.map-view {
  position: absolute;
  top: 0;
  left: 3.31rem;
  display: inline-block;
  width: 21rem;
  height: 3.25rem;
}
.group-child2 {
  position: absolute;
  top: 0.25rem;
  left: 0;
  width: 2.19rem;
  height: 2.13rem;
  object-fit: cover;
}
.map-view-parent {
  position: absolute;
  top: 46.38rem;
  left: 2.13rem;
  width: 24.31rem;
  height: 3.25rem;
}
.volunteer-position {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.94rem;
}
.volunteer-position-wrapper {
  position: absolute;
  top: 0.06rem;
  left: 3.31rem;
  width: 15.13rem;
  height: 1.94rem;
}
.group-child3,
.group-parent {
  position: absolute;
  height: 2.13rem;
}
.group-child3 {
  top: 0;
  left: 0;
  width: 2.13rem;
  object-fit: cover;
}
.group-parent {
  top: 51.63rem;
  left: 2.13rem;
  width: 18.44rem;
}
.ngo-create-campaign {
  position: relative;
  background-color: #d5c6ff;
  width: 100%;
  height: 69.81rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.69rem;
  color: #000;
  font-family: Poppins;
}
