.ng-login5 {
    width: 100%;
    height: 1117px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(213, 198, 255, 1);
  }
  .group72 {
    top: 56px;
    left: 316px;
    width: 1532px;
    height: 1005px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .rectangle2 {
    top: 0px;
    left: 0px;
    width: 1412px;
    height: 1005px;
    position: absolute;
    border-color: transparent;
    border-radius: 32px;
  }
  .rectangle3 {
    top: 0px;
    left: 862px;
    width: 670px;
    height: 1005px;
    position: absolute;
    border-color: transparent;
  }
  .frame1 {
    top: 365px;
    left: 485px;
    width: 135px;
    display: flex;
    padding: 10px 20px;
    position: absolute;
    align-items: center;
    border-color: transparent;
    justify-content: center;
  }
  .text {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 32px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame4 {
    top: 573px;
    left: 486px;
    width: 560px;
    height: 60px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
  }
  .frame3 {
    top: 5px;
    left: 31px;
    width: 119px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
  }
  .text02 {
    color: rgba(0, 0, 0, 0.30000001192092896);
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame31 {
    top: 480px;
    left: 486px;
    width: 560px;
    height: 60px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
  }
  .frame32 {
    top: 5px;
    left: 31px;
    width: 102px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
  }
  .text04 {
    color: rgba(0, 0, 0, 0.30000001192092896);
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5 {
    top: 727px;
    left: 485px;
    width: 573px;
    display: flex;
    padding: 15px 251px;
    position: absolute;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25) ;
    align-items: center;
    border-color: transparent;
    border-radius: 30px;
    justify-content: center;
    background-color: rgba(13, 157, 0, 1);
  }
  .text06 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .ellipse2 {
    top: 888px;
    left: 653px;
    width: 88px;
    height: 88px;
    position: absolute;
    border-color: rgba(255, 203, 190, 1);
    border-style: solid;
    border-width: 1px;
  }
  .ellipse9 {
    top: 888px;
    left: 821px;
    width: 88px;
    height: 88px;
    position: absolute;
    border-color: rgba(255, 203, 190, 1);
    border-style: solid;
    border-width: 1px;
  }
  .frame6 {
    top: 650px;
    left: 486px;
    width: 171px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    border-color: transparent;
  }
  .frame7 {
    width: 20px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    margin-right: 10px;
    border-radius: 5px;
  }
  .text08 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame8 {
    top: 650px;
    left: 891px;
    width: 155px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    border-color: transparent;
    justify-content: center;
  }
  .text10 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .search {
    top: 906px;
    left: 671px;
    width: 52px;
    height: 52px;
    position: absolute;
    border-color: transparent;
  }
  .twitter {
    top: 906px;
    left: 809px;
    width: 52px;
    height: 52px;
    position: absolute;
    border-color: transparent;
  }
  .line1 {
    top: 838px;
    left: 485px;
    width: 251px;
    height: 0px;
    position: absolute;
  }
  .line2 {
    top: 838px;
    left: 797px;
    width: 251px;
    height: 0px;
    position: absolute;
  }
  .text12 {
    top: 826px;
    left: 754px;
    color: rgba(154, 151, 151, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .ellipse3 {
    top: 1027px;
    left: 1408px;
    width: 14px;
    height: 14px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 0.5px;
  }
  .ellipse4 {
    top: 1027px;
    left: 1448px;
    width: 14px;
    height: 14px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 0.5px;
  }
  .ellipse5 {
    top: 1027px;
    left: 1488px;
    width: 14px;
    height: 14px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 0.5px;
  }
  .ellipse6 {
    top: 1027px;
    left: 1528px;
    width: 14px;
    height: 14px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 0.5px;
  }
  .frame10 {
    top: 87px;
    left: 7px;
    width: 295px;
    display: flex;
    padding: 10px 20px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: center;
  }
  .text14 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 40px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .akhuwatuniversitylogo-ff9260f8d0seeklogo1 {
    top: 218px;
    left: 95px;
    width: 120px;
    height: 120px;
    position: absolute;
    border-color: transparent;
  }
  .jdcpng1 {
    top: 431px;
    left: 95px;
    width: 120px;
    height: 120px;
    position: absolute;
    border-color: transparent;
  }
  .ezv-h2a--vg-ay1osbremovebgpreview1 {
    top: 644px;
    left: 74px;
    width: 161px;
    height: 121px;
    position: absolute;
    border-color: transparent;
  }
  .chhipa-logoremovebgpreview1 {
    top: 858px;
    left: 95px;
    width: 120px;
    height: 110px;
    position: absolute;
    border-color: transparent;
  }
  .ellipse8 {
    top: 905px;
    left: 838px;
    width: 53px;
    height: 53px;
    position: absolute;
    border-color: transparent;
  }
  .group24 {
    top: 116px;
    left: 638px;
    width: 256px;
    height: 204.55859375px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .rectangle22 {
    top: 0px;
    left: 0px;
    width: 256px;
    height: 150px;
    position: absolute;
    border-color: transparent;
  }
  .text16 {
    top: 153.89193725585938px;
    left: 45.00010681152344px;
    color: rgba(204, 102, 204, 1);
    width: 166px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam Pro;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  